<!-- <app-calculater></app-calculater> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">My App</a>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/calculater" routerLinkActive="active">
          Calculator
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/course" routerLinkActive="active">
          Course
        </a>
      </li>
       <li class="nav-item">
        <a class="nav-link" routerLink="/directives" routerLinkActive="active">
          Directive
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/pipe" routerLinkActive="active">
          pipe
        </a>
      </li>
       <li class="nav-item">
        <a class="nav-link" routerLink="/lifecycle" routerLinkActive="active">
          lifecycle
        </a>
      </li>
       <li class="nav-item">
        <a class="nav-link" routerLink="/input" routerLinkActive="active">
          input
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/form-builder" routerLinkActive="active">
          Form Builder
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/auth" routerLinkActive="active">
          Login
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="container mt-3">
  <router-outlet></router-outlet>
</div>
<!-- <app-course></app-course>
<app-employee></app-employee>
<app-university></app-university> -->